{
  "name": "Volmex Perpetual Relayer N1",
  "service": {
    "host": "0.0.0.0",
    "port": "8080"
  },
  "logger-level": "debug",
  "sqlite_file_name": "test1.db",
  "p2p_config": {
    "listen_addresses": [
      "/ip4/0.0.0.0/tcp/10015",
      "/ip6/::/tcp/10015"
    ],
    "bootstrap_nodes": [
      "/ip4/34.107.28.246/tcp/10015/p2p/16Uiu2HAm5C7jBzj76duZF9WcxQueyEVZBX3BBusiDLwXJax6Wn1A",
      "/ip4/34.85.69.126/tcp/10015/p2p/16Uiu2HAmUwJjhVzwkTcTPNbd6KJQEE5djVxssbjE72evRQG3n7yc",
      "/ip4/34.64.179.3/tcp/10015/p2p/16Uiu2HAm871jitfyFtcYPexeNE5dLwtFuPZ68yvdNQqNDHCL9rvw",
      "/ip4/35.238.61.118/tcp/10015/p2p/16Uiu2HAm3HGcWzwnSkV6qDkScz4XjrPpt66tBGUKT8CJMfFDEAfF",
      "/ip4/18.143.189.27/tcp/10015/p2p/16Uiu2HAmBz4tuVku6Q7yxAv8Mk1kPYpGEqY2LfxAY4Ai8rJNPe6u",
      "/ip4/54.177.175.220/tcp/10015/p2p/16Uiu2HAkyzsPSkUGJmYCbggtddoeaEfDvpnbJNDjx1EeHnFwSaxe",
      "/ip4/13.235.255.237/tcp/10015/p2p/16Uiu2HAmHSDzCZi6hRvEvTfgzLZHcHrufqRyG26DqCLkrTN49Ctr",
      "/ip4/15.156.94.219/tcp/10015/p2p/16Uiu2HAkxWkkWNg6cAQFx8f9RUwjeiBbWexxRvw9goNSJceDGBrE",
      "/ip4/18.133.117.250/tcp/10015/p2p/16Uiu2HAm5itCCkqX1qRf9NYT3Y3DVM2SeL6X5tYhimitsfwCu2Rq"
    ],
    "discovery_methods": [
      "dht"
    ],
    "discovery_tag": "discovery"
  },
  "matching_config": {
    "max_fail_allowed": 2,
    "leader": false,
    "minimum_balance": "200000000000000000"
  },
  "node_details": {
    "relayer_name": "RELAYER_NAME",
    "worker_addr": "WALLET_ADDRESS",
    "private_key": "WALLET_PRIVATE_KEY"
  },
  "chains": [
    "BSG"
  ],
  "workers": {
    "BSG": {
      "chain_id": 84531,
      "provider": "https://goerli.base.org",
      "spare_provider": "",
      "periphery_contract": "0x3635313a7Cb14B935EBd9A61CAda763Ed272d897",
      "positioning_contract": "0x0fD0e19E10300A6f19B7e2eB0926241B4a1Dc4D5",
      "matching_engine_contract": "0x1C0f9f24e2C87BE471b2192c72f4AD22BF5582b7",
      "market_registry_contract": "0xc34DEada1C1824D96AE8ca68503F784ac5593737",
      "perpetual_oracle": "0x8cc2E7529D3e88300174B089ba325C4F06572844",
      "gnosis_contract": "0xBaC2F984DDaaFD2ad2FDCA335A9d157D9c41C7de",
      "worker_addr": "WALLET_ADDRESS",
      "gas_limit": 2100000,
      "gas_price": 1,
      "fetch_interval": 2,
      "start_block_height": 0
    },
    "ARB": {
      "chain_id": 421613,
      "provider": "",
      "spare_provider": "",
      "periphery_contract": "0xB00eBcd9112dC48ced5F2f4cF668A99A3f5DdE14",
      "positioning_contract": "0xFcCE5FcaCf10AAC0324E0e29817472b47f8dDaEd",
      "matching_engine_contract": "0xa6E0C3924cE79A362D6455ABC9C5872fF8e3b035",
      "perpetual_oracle": "0x4C6f45bc479927f3A1C26217c125Bf089Bd72dAD",
      "gnosis_contract": "0xd32d7fE48a50C26E20fA78A5c4A231877971fF0E",
      "worker_addr": "WALLET_ADDRESS",
      "gas_limit": 210000000,
      "gas_price": 1,
      "fetch_interval": 2,
      "start_block_height": 0
    }
  },
  "storage": {
    "url": "host=%s port=%d user=%s dbname=%s password=%s sslmode=%s",
    "host": "db",
    "port": 5432,
    "ssl_mode": "disable",
    "driver": "postgres",
    "db_name": "postgres",
    "user": "postgres",
    "password": "postgres"
  }
}
